<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
</head>
<body>
    <h1>Содержимое корзины</h1>
    <table>
        <thead>
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <!-- Другие заголовки по вашему усмотрению -->
            </tr>
        </thead>
        <tbody>
            {% for item in cart_items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.quantity }}</td>
                <!-- Другие данные о товаре -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
