{% extends 'base.html' %}

{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}
<style>
        /* Стили для карточки товара */
        body {
            background-color: #f5f5f5;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #008000;
            text-align: center;
            margin-top: 30px;
        }
        .product-card {
            border: 1px solid #a3a3a3;
            padding: 10px;
            margin-bottom: 10px;
            width: 70%;
            margin: 0 auto;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: flex-start;
        }
        .product-image {
            width: 200px; /* Ширина изображения */
            height: 100px; /* Высота изображения */
            object-fit: cover; /* Позволяет сохранять пропорции и обрезать изображение при необходимости */
        }
        .product-details {
            width: 70%;
            font-size: 14px;
        }
        .product-details h3 {
            color: #008000;
            margin-top: 0;
            font-size: 16px;
        }
        .product-details p {
            margin: 3px 0;
        }
        .quantity {
            font-weight: bold;
            font-size: 12px;
            margin-top: auto;
            margin-left: 5px;
        }
        .total-price {
            margin-top: 20px;
            font-size: 18px;
            text-align: center;
        }
        .total-price p {
            margin: 5px 0;
        }
        .total-price strong {
            color: #008000;
        }
        .delete-button {
        position: relative;
        display: inline-block;
        background-color: white;
        border: none;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
    }

    /* Стили для иконки мусорки */
    .delete-icon {
        width: 20px;
        height: 20px;
        background-image: url('link-to-your-trash-icon.png'); /* Замените ссылку на вашу иконку мусорки */
        background-size: cover;
    }
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    </style>
    <h1>Корзина</h1>
    <div id="productList">
        {% for item in cart_items %}
            <div class="product-card">
                <!-- Изображение товара -->
                <img class="product-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                <div class="product-details">
                    <!-- Детали товара -->
                   <h3 style="font-size: 30px; color: green; font-family: 'Comic Sans MS', cursive, sans-serif;"><strong>{{ item.product.name }}</strong></h3>
                    <p><strong>Цена за шт:</strong> {{ item.product.price }}с</p>
                    <p style="font-size: 18px; color: green; font-family: 'Comic Sans MS', cursive, sans-serif;"><strong>{{ item.total_price }}с</strong></p>


                </div>
                <p style="font-size: 10px; color: green; font-family: 'Comic Sans MS', cursive, sans-serif;"class="quantity"><strong>Кол-во:</strong> {{ item.quantity }}</p>
                <a href="{% url 'delete_item' item.id %}" style="display: inline-block; padding: 5px 10px; background-color: #ccc; border: 1px solid #000; border-radius: 5px; text-decoration: none; color: #000;">&#10006;</a>


            </div>
        <form method="post" action="{% url 'update_cart' item.id %}">
            {% csrf_token %}
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" value="{{ item.quantity }}" min="1">
            <input type="submit" value="Update">
        </form>
        {% endfor %}
        <!-- Отображение общей цены и доставки -->
        <div class="total-price">
            <p><strong>Сумма:</strong> {{ all_price }}</p>
            <p><strong>Доставка:</strong> 150.00</p>
            <p><strong>Итого:</strong> {{ total_price }}</p>
        </div>
    </div>
{% endblock %}
