{% extends 'base.html' %}

{% block title %}Eco Market - {{ category.name }}{% endblock %}

{% block content %}
    <style>
        /* CSS для установки фиксированного размера изображений */
        .card-img-top {
            width: 400px; /* Ширина изображения */
            height: 300px; /* Высота изображения */
            object-fit: cover; /* Позволяет сохранять пропорции и обрезать изображение при необходимости */
        }
        /* Дополнительные стили для кнопок и счетчика */
        .add-to-cart-btn {

            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .add-to-cart-btn:hover {
            background-color: #218838;

        }

        .quantity-control {
            display: flex;
            align-items: center;
        }

        .quantity-btn {
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin: 0 5px;
        }

        .quantity-btn:hover {
            background-color: #218838;
        }

        .quantity-display {
            border: 1px solid #ccc;
            padding: 5px 10px;
            border-radius: 5px;
            margin: 0 5px;
        }
        .cart-button {
            position: fixed;
            bottom: 20px;
            right: 50px; /* Изменено с left на right */
            z-index: 999; /* Чтобы кнопка была поверх другого контента */
            text-decoration: none;
        }

        .cart-icon {
            width: 100px; /* Ширина иконки корзины */
            height: 100px; /* Высота иконки корзины */
            background-color: #3cdb39; /* Цвет иконки */
            border-radius: 50%; /* Для круглой формы иконки */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px; /* Размер иконки (можно изменить) */
            color: white; /* Цвет значка корзины */
            animation: slide 2s infinite; /* Анимация движения */
            text-decoration: none;

        }

        .cart-icon::before {
            content: '\1F6D2'; /* Unicode для иконки корзины (можно изменить) */
            text-decoration: none;
        }


        /* Анимация движения */
        @keyframes slide {
            0%, 100% {
                transform: translateX(0); /* Начальная и конечная позиция (без смещения) */
            }
            50% {
                transform: translateX(20px); /* Позиция смещения вправо на 20px */
            }
        }
    </style>


<div class="container mt-3">

    <!-- Поле для быстрого поиска по текущей категории -->
    <div class="input-group mb-3">
        <input type="text" id="searchInput" class="form-control" placeholder="Поиск по текущей категории">
    </div>

    <div class="row" id="productList">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4" data-category="{{ product.category.name }}">
                <div class="card h-100">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">${{ product.price }}</p>

                        {% if product.available %}

                        <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <div class="quantity-control">
                                <button type="button" class="quantity-btn decrease">-</button>
                                <input type="number" name="quantity" value="1" min="1" max="{{ product.quantity_available }}" class="quantity-display" required>
                                <button type="button" class="quantity-btn increase">+</button>
                            </div>
                            <button type="submit" class="add-to-cart-btn">🛒</button>
                        </form>

                        {% else %}
                            <p>Out of stock</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="cart-button">
    <a href="{% url 'view_cart' %}">
        <div class="cart-icon"></div>
    </a>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function() {
            const searchInput = document.getElementById('searchInput');
            const productCards = document.querySelectorAll('#productList .card');

            searchInput.addEventListener('input', function(event) {
                const searchText = event.target.value.trim().toLowerCase();

                productCards.forEach(card => {
                    const productName = card.querySelector('.card-title').innerText.trim().toLowerCase();
                    const cardDisplay = productName.includes(searchText) ? 'block' : 'none';
                    card.parentElement.style.display = cardDisplay;
                });
            });
        });

    document.addEventListener('DOMContentLoaded', function() {
        const quantityInputs = document.querySelectorAll('.quantity-display');
        const decreaseButtons = document.querySelectorAll('.quantity-btn.decrease');
        const increaseButtons = document.querySelectorAll('.quantity-btn.increase');

        decreaseButtons.forEach((button, index) => {
            button.addEventListener('click', function() {
                const currentValue = parseInt(quantityInputs[index].value);
                if (currentValue > 1) {
                    quantityInputs[index].value = currentValue - 1;
                }
            });
        });

        increaseButtons.forEach((button, index) => {
            button.addEventListener('click', function() {
                const currentValue = parseInt(quantityInputs[index].value);
                const maxValue = parseInt(quantityInputs[index].getAttribute('max'));
                if (currentValue < maxValue) {
                    quantityInputs[index].value = currentValue + 1;
                }
            });
        });
    });


</script>

{% endblock %}