{% extends 'base.html' %}

{% block title %}
    <title>Order Detail</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="order-info">
            <h1>Заказ №{{ order.id }}</h1>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th scope="row">Заказчик</th>
                            <td>{{ order.name }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Номер телефона</th>
                            <td>{{ order.phone_number }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Адрес</th>
                            <td>{{ order.address }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Сумма к оплате</th>
                            <td>{{ order.total_price }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Кол-во товаров</th>
                            <td>{{ order.quantity }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Статус</th>
                            <td>{{ order.status }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Дата</th>
                            <td>{{ order.created_at|date:"Y-m-d" }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Время</th>
                            <td>{{ order.created_at|time:"H:i:s" }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

      <div class="row">
            <div class="col-md-12">
                <div class="scrolling-wrapper">
                    <ul class="list-unstyled d-flex flex-nowrap">
                        {% for item_with_total in items_with_total %}
                            <li class="col-md-3">
                                <div class="card">
                                    <div class="card-img-container">
                                        <img class="card-img-top product-image" src="{{ item_with_total.order_item.product.image.url }}" alt="{{ item_with_total.order_item.product.name }}">
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ item_with_total.order_item.quantity }} x {{ item_with_total.order_item.product.name }} - {{ item_with_total.total }}</p>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
<!-- Кнопка корзины -->
    <div class="cart-button">
        <a href="{% url 'order_pdf' order.id %}">
            <div class="cart-icon"></div>
        </a>
    </div>


    <style>
        .scrolling-wrapper {

            overflow-x: auto;
            white-space: nowrap;
        }

        .scrolling-wrapper .card {
            display: inline-block;
            width: 220px; /* Установите желаемую ширину карточки */
            margin-right: 10px; /* Пространство между карточками */
        }

        .card-img-container {
            overflow: hidden;
            height: 200px; /* Установите желаемую высоту изображения */
            width: 100%;
        }

        .card-img-top {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .cart-button {
                    position: fixed;
                    bottom: 20px;
                    right: 50px; /* Изменено с left на right */
                    z-index: 999; /* Чтобы кнопка была поверх другого контента */
                    text-decoration: none;
                }

                .cart-icon {
                    width: 100px; /* Ширина иконки корзины */
                    height: 100px; /* Высота иконки корзины */
                    background-color: #A9A9A9; /* Цвет иконки */
                    border-radius: 50%; /* Для круглой формы иконки */
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 90px; /* Размер иконки (можно изменить) */
                    color: white; /* Цвет значка корзины */
                    animation: slide 2s infinite; /* Анимация движения */

                }

                .cart-icon::before {
                    content: '🧾';
                    font-size: 55px; /* Установите размер значка */
                    position: absolute; /* Установим позицию для значка */
                    top: 50%; /* Поместим значок по вертикали на 50% */
                    left: 50%; /* Поместим значок по горизонтали на 50% */
                    transform: translate(-50%, -50%); /* Центрируем значок относительно родительского контейнера */
                }
                @keyframes slide {
                    0%, 100% {
                        transform: translateX(0); /* Начальная и конечная позиция (без смещения) */
                    }
                    50% {
                        transform: translateX(20px); /* Позиция смещения вправо на 20px */
                    }
                }
    </style>
{% endblock %}